* {
    box-sizing: border-box;
  }

body{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);  
    font-family: Georgia, 'Times New Roman', Times, serif;  
}

h1{
    text-align: center;
}

@media (min-width:768px) and (max-width:991px){

}

@media (max-width:767px){

}

/********** Large devices only **********/
  @media (min-width:992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
    }
    .col-lg-1 {
      width: 8.33%;
    }
    .col-lg-2 {
      width: 16.66%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-4 {
      width: 33.33%;
    }
    .col-lg-5 {
      width: 41.66%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-7 {
      width: 58.33%;
    }
    .col-lg-8 {
      width: 66.66%;
    }
    .col-lg-9 {
      width: 74.99%;
    }
    .col-lg-10 {
      width: 83.33%;
    }
    .col-lg-11 {
      width: 91.66%;
    }
    .col-lg-12 {
      width: 100%;
    }

    
  }

  @media (min-width: 768px) and (max-width: 991px){
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11,.col-md-12{
      float: left;
    }
    .col-md-1 {
      width: 8.33%;
    }
    .col-md-2 {
      width: 16.66%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-4 {
      width: 33.33%;
    }
    .col-md-5 {
      width: 41.66%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-7 {
      width: 58.33%;
    }
    .col-md-8 {
      width: 66.66%;
    }
    .col-md-9 {
      width: 74.99%;
    }
    .col-md-10 {
      width: 83.33%;
    }
    .col-md-11 {
      width: 91.66%;
    }
    .col-md-12 {
      width: 100%;
    }

  }
  
[class*="col-"] {
    float: left;
    padding: 15px;
}

.menu-item{
    border: solid 1px;
    border-top-style: none;
    border-right-style: none;
    position: absolute;
    padding: 5px;
    height: 30px;
    width: 80px;
    text-align: center;
    top: 0;
    right: 0;
    background-color: orange;
    font-style: normal;
    font-size: 18px;
}

.menu-item:hover{
    background-color: orangered;
    color: wheat;
    cursor: pointer;
}

.main-menu{
    border: solid 1px black;
    position: relative;
    padding: 40px 10px 10px 10px;
    background-color: wheat;
    font-style: italic;
}

.row::after{
    content: "";
    clear:both;
    display:table;
}